img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery {
  display: flex;
  justify-content: space-between;
}

.gallery__item {
  width: calc((100% - 60px) / 3);
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
.title {
  text-align: center;
  margin-bottom: 100px;
}
